.sal-chess-block {
  width: 12.5%;
  height: 47px;
  background-color: #efdec3;
  border: 0;
  outline: 0;
  margin: 0;
  box-shadow: none;
  float: left;
  position: relative;
  &.white {
    background-color: #946136;
  }
  &.high-light {
    &:after {
      position: absolute;
      content: '';
      width: 25%;
      height: 25%;
      display: block;
      left: 37.5%;
      top: 37.5%;
      background: #8ea68e;
      border-radius: 50%;
    }
  }
  &.high-light.catch-high-light {
    &:after {
      width: 75%;
      height: 75%;
      left: 12.5%;
      top: 12.5%;
      opacity: 0.5;
    }
  }
  &:disabled {
    cursor: not-allowed;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  @media (min-width: 768px) {
    height: 96px;
  }

  @media (min-width: 1024px) {
    height: 100px;
  }
}
